body{
    background-color: rgba(26, 14, 1, 0.87);
    
}

header, footer{
    border: rgb(3, 4, 19) 4px ;
    margin-bottom: 20px;
    text-align: center;
    padding: 5px 10px;
}

title {
    text-align: center;
    border-color: rgb(6, 5, 8);
}

h1 {
    color: rgb(12, 7, 2);
    text-align: center;
}

h2 {
    color: rgb(46, 18, 18);
    border-color: antiquewhite;

}

nav {
    color:coral
    text-align: center;

}

li {
    border:rgb(73, 73, 107) 4px solid;
    color: whitesmoke;
    display: inline;
    background-color: wheat;
    padding: 5px 10px;
    margin: 0px 20px;
}

article {
    text-align: center;
}

footer > p {
    color:cornflowerblue

}

article {
    border: solid black 1px;
    margin: 10px 0px;
}
img {
    width: 800px;
    height: 500px;
    object-fit: contain;
}